/.idea/
/package-lock.json
/node_modules/
/dist/
/coverage/
/junit.xml
/libs/shared/models/dist/
/libs/shared/domain-core/dist/
/libs/shared/utils/dist/
/libs/shared/angular/package-lock.json
/libs/shared/angular/dist/
/libs/shared/angular/node_modules/
/libs/auth/shell/angular/dist/
/libs/auth/shell/angular/node_modules/
/libs/crud/shell/angular/dist/
/libs/crud/shell/angular/node_modules/
/libs/crud/shell/angular/package-lock.json
/libs/shared/domain-core/dist/
/libs/shared/domain-core/node_modules/
/libs/shared/domain-core/package-lock.json
/libs/crud/shell/dtos/node_modules/
/libs/crud/shell/dtos/dist/
/libs/crud/shell/dtos/package-lock.json
/libs/stream/shell/angular/node_modules/
/libs/stream/shell/angular/dist/
/libs/stream/domain/node_modules/
/libs/stream/shell/dtos/node_modules/
/libs/stream/shell/dtos/dist/
/libs/auth/domain/node_modules/
/libs/auth/domain/dist/
/libs/trans/domain/node_modules/
/libs/shared/payu/node_modules/
/libs/shared/paypal/node_modules/
/libs/trans/shell/app-services/node_modules/
/libs/trans/shell/nestjs/node_modules/
/libs/shared/paypal/package-lock.json
/libs/shared/payu/package-lock.json
/libs/trans/domain/package-lock.json
/libs/trans/shell/app-services/package-lock.json
/libs/trans/shell/nestjs/package-lock.json
/libs/auth/shell/app-services/node_modules/
/libs/auth/shell/app-services/package-lock.json
/libs/auth/shell/nestjs/node_modules/
/libs/auth/shell/nestjs/package-lock.json
/libs/crud/domain/node_modules/
/libs/crud/domain/package-lock.json
/libs/shared/nestjs/node_modules/
/libs/shared/nestjs/package-lock.json
/libs/crud/shell/app-services/node_modules/
/libs/crud/shell/app-services/package-lock.json
/libs/shared/mongo/node_modules/
/libs/shared/mongo/package-lock.json
