/.idea/
/package-lock.json
/node_modules/
/dist/
/coverage/
/junit.xml
/libs/shared/models/dist/
/libs/shared/domain-core/dist/
/libs/shared/utils/dist/
/libs/shared/angular/package-lock.json
/libs/shared/angular/dist/
/libs/shared/angular/node_modules/
/libs/auth/shell/angular/dist/
/libs/auth/shell/angular/node_modules/
/libs/crud/shell/angular/node_modules/
/libs/crud/shell/angular/package-lock.json
