/*TODO: move to app folder*/
:root {
    
    --ion-color-primary: #0f4c81;
    --ion-color-primary-rgb: 15,76,129;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #0d4372;
    --ion-color-primary-tint: #275e8e;
    
    --ion-color-secondary: #1467af;
    --ion-color-secondary-rgb: 20,103,175;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #125b9a;
    --ion-color-secondary-tint: #2c76b7;
    
    --ion-color-tertiary: #1a83de;
    --ion-color-tertiary-rgb: 26,131,222;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #1773c3;
    --ion-color-tertiary-tint: #318fe1;
    
    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16,220,96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255,255,255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;
    
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255,206,0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255,255,255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;
    
    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245,61,61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;
    
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34,34,34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
    
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255,255,255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
    
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244,244,244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
      

    /* Set the background of the entire app */
    --ion-background-color: #fbf8ff;

    /* Set the font family of the entire app */
    /* --ion-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif; */
    --ion-font-family: -apple-system, BlinkMacSystemFont, "Roboto Light", sans-serif;

    
}

ion-button {
    height: 36px;
    --font-size: 14px;
    --padding-top: 10px;
    --padding-bottom: 8px;
    text-transform: lowercase;
}



ion-menu {
    --ion-background-color: #fefefe;
}

ion-menu-togle ion-icon {
    --ion-text-color: var(--ion-color-secondary);
}

/* Set text color of the entire app for iOS only */
.ios {
    --ion-text-color: #000;
}

/* Set text color of the entire app for Material Design only */
.md {
    --ion-text-color: #222;
}
