import {NgModule} from "@angular/core";
import {CommonModule} from "@angular/common";

//import {TestComponent} from "./test/test.component";

const COMPONENTS = [
    //TestComponent
];

@NgModule({
    declarations: [
        ...COMPONENTS
    ],
    imports: [
        CommonModule
    ],
    exports: [
        ...COMPONENTS
    ]
})
export class ComponentsModule { }