<smart-auth-login>
    <div class='header-container'>
        <p>
            <ion-icon name="bulb-outline" color="light" slot="none"></ion-icon>
        </p>
        <h3><strong>Smart</strong>Admin</h3>
        <p><small>panel administracyjny smartsoft</small></p>
    </div>
    <p class='card-title'>Zaloguj się, aby uzyskać dostęp do funkcji systemu</p>
    <div class='card-middle'>Zapomniałeś hasła</div>
    <div class='card-bottom'>Nie masz jeszcze konta? Zarejestruj się</div>
    <div class='footer-container'>inne opcje</div>
</smart-auth-login>